<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
  </system.web>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="http" binding="netHttpBinding"/>
    </protocolMapping>

    <behaviors>
      <serviceBehaviors>
        <behavior name="test">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    
    <services>
      <service name="WebSocketHostWithWCF.WebSocketService" behaviorConfiguration="test">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8733/WebSocketService_WCF/" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="netHttpBinding" contract="WebSockeLib.IWebSocketService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
