<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>WebSocketWebClient</title>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
